# Page Visits Funnel

In [84]:
#importing libraries
import pandas as pd

In [85]:
#reading all csv files as dataframes
visits = pd.read_csv('visits.csv',
                     parse_dates=[1])
cart = pd.read_csv('cart.csv',
                   parse_dates=[1])
checkout = pd.read_csv('checkout.csv',
                       parse_dates=[1])
purchase = pd.read_csv('purchase.csv',
                       parse_dates=[1])

In [86]:
#inspecting first five rows of visits
visits.head()

                                user_id          visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00

In [87]:
#inspecting first five rows of cart
cart.head()

                                user_id           cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00

In [88]:
#inspecting first five rows of checkout
checkout.head()

                                user_id       checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00

In [89]:
#inspecting first five rows of purchase
purchase.head()

                                user_id       purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00

In [90]:
#left merge visit and cart
visit_to_cart = pd.merge(visits, cart, how = 'left')
visit_to_cart.head()

,user_id,visit_time,cart_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT

In [91]:
#checking length of merged dataframe
len(visit_to_cart)

2000

In [70]:
#checking number of visitors who did not add any item to cart
len(visit_to_cart[visit_to_cart.cart_time.isnull()])

1652

In [72]:
#checking percentage of visitors who did not add any item to cart
len(visit_to_cart[visit_to_cart.cart_time.isnull()]) / float((len(visit_to_cart)))*100

82.6

In [92]:
#left merge cart and checkoout
cart_to_checkout = pd.merge(cart, checkout, how = 'left')
cart_to_checkout.head()

,user_id,cart_time,checkout_time
0,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 21:14:00
1,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 20:50:00
2,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 21:11:00
3,4397f73f-1da3-4ab3-91af-762792e25973,2017-05-27 01:35:00,NaT
4,a9db3d4b-0a0a-4398-a55a-ebb2c7adf663,2017-03-04 10:38:00,2017-03-04 11:04:00

In [74]:
#checking number of users who added an item to cart but did not proceed to checkout
len(cart_to_checkout[cart_to_checkout.checkout_time.isnull()])

122

In [94]:
#checking percentage of users who added an item to cart but did not proceed to checkout
float(len(cart_to_checkout[cart_to_checkout.checkout_time.isnull()])) / (len(cart_to_checkout))*100

25.311203319502074

In [95]:
#left merge checkout and purchase
checkout_to_purchase = pd.merge(checkout, purchase, how = 'left')
checkout_to_purchase.head()

,user_id,checkout_time,purchase_time
0,d33bdc47-4afa-45bc-b4e4-dbe948e34c0d,2017-06-25 09:29:00,2017-06-25 09:49:00
1,d33bdc47-4afa-45bc-b4e4-dbe948e34c0d,2017-06-25 09:29:00,2017-06-25 09:56:00
2,d33bdc47-4afa-45bc-b4e4-dbe948e34c0d,2017-06-25 09:29:00,2017-06-25 09:57:00
3,4ac186f0-9954-4fea-8a27-c081e428e34e,2017-04-07 20:11:00,NaT
4,3c9c78a7-124a-4b77-8d2e-e1926e011e7d,2017-07-13 11:38:00,NaT

In [77]:
#checking number of users who proceed to checkout but did not purchase an item
len(checkout_to_purchase[checkout_to_purchase.purchase_time.isnull()])

101

In [97]:
#checking percentage of users who proceed to checkout but did not purchase an item
float(len(checkout_to_purchase[checkout_to_purchase.purchase_time.isnull()])) / (len(checkout_to_purchase))*100

16.88963210702341

In [98]:
#left merge all dataframes
all_data = visits.merge(cart, how = 'left').merge(checkout, how = 'left').merge(purchase, how = 'left')
all_data.head()

,user_id,visit_time,cart_time,checkout_time,purchase_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT,NaT,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaT,NaT
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT,NaT,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT,NaT,NaT

In [81]:
#add a column time_to_purchase which calculates the time taken for a user to make a purchas
all_data['time_to_purchase'] = all_data.purchase_time - all_data.visit_time
all_data.time_to_purchase.head()

0               NaT
1   0 days 00:44:00
2               NaT
3               NaT
4               NaT
Name: time_to_purchase, dtype: timedelta64[ns]

In [82]:
#calaculate average time it takes a user to purchase a t shirt
all_data.time_to_purchase.mean()

Timedelta('0 days 00:43:53.360160965')